<div>
    {{--
    <div class="form-group row">
        <div class="col-lg-9">
            <input type="text" class="form-control @error('reg_bord_vrt') is-invalid @enderror" name="reg_bord_vrt"
                value="{{ old('reg_bord_vrt') }}" placeholder="N° de bordéreau" />
    @error('reg_bord_vrt')
        <span class="invalid-feedback" role="alert">
            <strong>{{ $message }}</strong>
        </span>
    @enderror
</div>
</div>
<div class="form-group row">
    <div class="col-lg-9">
        <input type="text" class="form-control @error('reg_cpb_code') is-invalid @enderror" name="reg_cpb_code"
            value="{{ old('reg_cpb_code') }}" placeholder="N° de compte bancaire" />
        @error('reg_cpb_code')
            <span class="invalid-feedback" role="alert">
                <strong>{{ $message }}</strong>
            </span>
        @enderror
    </div>
</div>
--}} {{--
    <div class="form-group row">
        <div class="col-lg-9">
            <input type="text" class="form-control @error('reg_fourn_code') is-invalid @enderror" name="reg_fourn_code"
                value="{{ old('reg_fourn_code') }}" placeholder="Code du fournisseur" />
@error('reg_fourn_code')
    <span class="invalid-feedback" role="alert">
        <strong>{{ $message }}</strong>
    </span>
@enderror
</div>
</div>
<div class="form-group row">
    <div class="col-lg-9">
        <input type="text" class="form-control @error('reg_etex_mat') is-invalid @enderror" name="reg_etex_mat"
            value="{{ old('reg_etex_mat') }}" placeholder="Matricule de l'étudiant" />
        @error('reg_etex_mat')
            <span class="invalid-feedback" role="alert">
                <strong>{{ $message }}</strong>
            </span>
        @enderror
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-9">
        <input type="text" class="form-control @error('reg_vacex_mat') is-invalid @enderror" name="reg_vacex_mat"
            value="{{ old('reg_vacex_mat') }}" placeholder="Matricule du vacataire" />
        @error('reg_vacex_mat')
            <span class="invalid-feedback" role="alert">
                <strong>{{ $message }}</strong>
            </span>
        @enderror
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-9">
        <input type="text" class="form-control @error('reg_agent_mat') is-invalid @enderror" name="reg_agent_mat"
            value="{{ old('reg_agent_mat') }}" placeholder="Matricule de l'agent en activité" />
        @error('reg_agent_mat')
            <span class="invalid-feedback" role="alert">
                <strong>{{ $message }}</strong>
            </span>
        @enderror
    </div>
</div>
--}}
</div>
